:local(.portaiTopBanner) {
  .banner-animate {
    animation: contentfadeInDown 1s ease-in-out;
    // animation-fill-mode: forwards;
    // animation-iteration-count: 1;
    // animation-timing-function: ease-in-out;
    // animation-direction: normal;
    // animation-play-state: running;
    // animation-name: fadeInDown;
  }
  @keyframes contentfadeInDown {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
